@import url('https://fonts.googleapis.com/css2?family=Lato');

:root {
  --white: #fff;
  --dark1: #34344e;
  --dark2: #3a415a;
  --dark3: #566981;
  --dark4: #89a7b1;
  --dark5: #cbdad5;
  --cyan1: #70e3ea;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark2);
}

::-webkit-scrollbar-thumb {
  background: var(--dark3);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark4);
}

body {
  background-color: var(--dark1);
  background-size: 400%;
  height: 100vh;
  font-family: 'Lato';
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.8rem;
  background-color: var(--dark4);
  min-height: 50px;
}

.box-img-header {
  height: 100%;
}

.img-logo {
  height: 100%;
  max-height: 60px;
}

nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  text-decoration: none;
  color: var(--white);
}

.nav-links:hover {
  color: var(--dark2);
  text-decoration: underline;
  transition: 0.5s;
}

.box-btn-actions {
  display: flex;
  gap: 1rem;
}

:is(button, .link-action) {
  padding: 0.6rem;
  font-size: 0.9rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.btn-action {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

.btn-action:hover {
  background-color: var(--dark3);
  border: 1px solid var(--dark3);
}

.link-action {
  text-decoration: none;
  width: 200px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section {
  padding: 4rem;
}

.first-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  min-height: 650px;
  flex-wrap: wrap;
}

.first-section > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
}

h1 {
  font-size: 4rem;
  letter-spacing: 8px;
  color: var(--white);
}

strong {
  color: var(--cyan1);
}

.first-section p {
  color: var(--white);
}

.first-section button {
  width: 200px;
}

.box-img-main {
  max-width: 450px;
  padding: 1rem;
}

.img-profile {
  width: 100%;
  border-radius: 50%;
}

:is(.second-section, .fourth-section) {
  /* background-color: var(--dark2); */
  background-color: var(--dark4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.title {
  color: var(--dark5);
}

.second-section div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.second-section p {
  color: var(--dark2);
  font-weight: bold;
  letter-spacing: 2px;
}

.second-section p:hover {
  color: var(--dark5);
  transition: 0.4s;
  cursor: default;
}

.third-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.third-section > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.third-section h2 {
  color: var(--dark5);
  font-size: 1.5rem;
  text-align: center;
}

.third-section > div img {
  width: 250px;
  border-radius: 10px;
}

.third-section > div p {
  max-width: 600px;
  color: var(--white);
}

#my-projects-list {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#my-projects-list a {
  text-decoration: none;
  color: var(--dark3);
}

#my-projects-list a:hover {
  transition: 0.4s;
  color: var(--dark2);
}

:is(.img-profile, .img-who-am-i) {
  box-shadow: 1px 1px 1px 1px var(--cyan1);
}

footer {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer h2 {
  color: var(--dark5);
  font-size: 1.5rem;
  text-align: center;
}

footer > div {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

footer > div a {
  text-decoration: none;
  color: var(--dark2);
  transition: transform 0.3s ease, color 0.3s ease;
}

footer > div a:hover {
  transform: scale(1.1);
  color: var(--cyan1);
}

/* Estilos para os modais */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: var(--dark4);
  margin: 10% auto;
  padding: 20px;
  border: none;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: var(--dark1); 
}

.close {
  color: var(--dark1);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--dark5);
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  color: var(--dark1); 
  text-align: center;
  margin-bottom: 20px;
}

.modal-content label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.modal-content input {
  width: 96%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  background-color: var(--dark1); 
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: var(--dark3);
}

/* Estilos para o botão de rolar ao topo */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: var(--dark3); 
  color: white; 
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: none; /* Ocultar o botão por padrão */
  z-index: 1000; /* Colocar o botão acima de outros elementos */
}

.scroll-to-top:hover {
  background-color: var(--dark4); 
  color: var(--dark1);
}
